<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma alteração de senha para sua conta foi solicitada.</p>
  <p>Se foi você quem sollicitou, clique no link abaixo para inserir uma nova senha:</p>
  <p>
    <a href="{{link}}" target="blank" rel="noopener noreferrer">Resetar minha senha</a>
  </p>

  <p>Se não foi você, então descarte esse e-mail.</p>

  <p>
    Obrigado! <br />
    Equipe GoBarber
  </p>
</div>
